header {	
  position: fixed;
  top: 0;
  left:0;
  right: 0;
	background: #1c1c1c;
  z-index: 999;
}
.header-wrapper {
	height: 50px;
	color: #fff;
	padding: 10px 50px;
}
.header-wrapper .brand {
  position: absolute;
	overflow: hidden;
	height: 100%;
	line-height: 52px;
	font-size: 20px;	
}
.header-wrapper a {
	color:#ECB926;
}
.header-wrapper .brand img {
	margin-right: 30px;
	float:left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.header-wrapper .brand img:hover {
	-webkit-animation: swing 1s;
	animation: swing 1s;
}
.header-wrapper .menu {
	display: none;
}
/* #headerNav {
  height: 50px;
  line-height: 50px;
  float: right;
  overflow: hidden;
}
#headerNav li {
  float: left;
  margin: 0 20px;
} */
#headerNav {
  height: 50px;
  line-height: 50px;
  text-align: center;
  list-style: none;
}
#headerNav li {
  display: inline-block;
  margin: 0 20px;
}
#headerNav a {
	position: relative;
  color: #ECB926;
  text-shadow: 0 0 1px rgba(255,255,255,.9) inset;
}
#headerNav a:after {
	display:block;
	position: absolute;
	top: 20px;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);;
	transform: translateX(-50%);
	margin: 0 auto;
	content: '';
	height: 1px;
	background: #fff;
	-webkit-transition: width .2s ease-in;
}
#headerNav a:hover:after{
	width: 100%;
}
#headerNav a.active{
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
    transform: rotate3d(0, 0, 1, 20deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -14deg);
    transform: rotate3d(0, 0, 1, -14deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
    transform: rotate3d(0, 0, 1, 20deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -14deg);
    transform: rotate3d(0, 0, 1, -14deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

