/*global*/
.container {
	width: 800px;
	margin: 0 auto;
    padding-top: 70px;
}
.container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
p {
    font-size: 15px;
    line-height: 1.5em;
}
/*index page*/
.page .article-item {
    list-style: none;
    position: relative;
    margin: 30px 0;
    padding: 20px ;
    border: 1px solid rgba(0,0,0,.1);
}
.page .article-link {
    position: relative;
    background: #fff;
}
.page .article-link a{
    color: #555;
    font-size: 23px;
    font-weight: 400;
}
.page .article-link a:hover {
    color: #f85455;
}
.page .article-link:before {
    content:'';
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
    left: -30px;
    background: url(../img/title-dot.png) no-repeat center center;
}
.page .article-desc {
    margin: 10px 0;
}
.page .article-desc p {
    color: #505050;
}
.page .label {
    margin-top: 12px;
    overflow: hidden;
}
.page .label .label-card {
    float: left;
    margin-right: 15px;
    color: #999;
    font-size: 13px;
}
.page .read-all {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}
.page .read-all a {
    display: block;
    padding: 5px 13px;
    border-radius: 4px;
    border: 2px solid #f85455;
    color: #f85455;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.page .read-all a:hover {
    background-color: #f85455;
    color: #fff;
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
}
/*index pagination*/
.pagination {
    margin-bottom: 20px;
    text-align: center;
    color: #555;
}
.pagination a,
.pagination span {
    margin: 0 5px;
    font-size: 20px;
}
