/*global*/
.container {
	width: 800px;
	margin: 0 auto;
    padding-bottom: 30px;
}
.container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
p {
    font-size: 15px;
    line-height: 1.5em;
}
/*index page*/
.page .article-item {
    list-style: none;
    position: relative;
    margin: 30px 0;
    padding: 20px ;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.27) 0 1px 3px;
}
.page .article-link {
    position: relative;
    background: #fff;
}
.page .article-link a{
    color: #555;
    font-size: 23px;
    font-weight: 400;
}
.page .article-link a:hover {
    color: #f85455;
}
.page .article-link:before {
    content:'';
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
    left: -30px;
    background: url(../img/title-dot.png) no-repeat center center;
}
.page .article-desc {
    margin: 10px 0;
}
.page .article-desc p {
    color: #505050;
}
.page .label {
    margin-top: 12px;
    overflow: hidden;
}
.page .label .label-card {
    float: left;
    margin-right: 15px;
    color: #999;
    font-size: 13px;
}
.page .read-all {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}
.page .read-all a {
    display: block;
    padding: 5px 13px;
    border-radius: 4px;
    border: 2px solid #f85455;
    color: #f85455;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.page .read-all a:hover {
    background-color: #f85455;
    color: #fff;
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
}
/*index pagination*/
.pagination {
    text-align: center;
    color: #555;
}
.pagination a,
.pagination span {
    margin: 0 5px;
    font-size: 20px;
}

/*归档页面*/
.archive .container,
.category .container,
.tags .container {
    padding-top: 20px;
    width: 600px;
}
.archive h2,
.category h2 {
    font-size: 20px;
    color: #fff;
    background: #6ECBC0;
    border-radius: 7px;
    height: 40px;
    line-height: 40px;
    width: 60px;
    text-align: center;
    font-weight: normal;
    position: relative;
}
.archive h2:before,
.category h2:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    z-index: -1;
    height: 1px;
    background: #6ECBC0;
    -webkit-animation: long .8s .3s cubic-bezier(0.4, 0, 0.28, 1.04) forwards;
    animation: long .8s .3s cubic-bezier(0.4, 0, 0.28, 1.04) forwards;
}
.archive li,
.category li,
.tags li {
    list-style: none;
    margin: 5px 0;
    padding-left: 15px;
}
.archive time,
.category time,
.tags time {
    margin-right: 10px;
    color: #666;
}
.archive .title:after,
.category .title:after{
    content:'>';
    font-weight: 600;
    display: inline-block;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    color: #6ECBC0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
}
.archive .title:hover,
.category .title:hover,
.tags .title:hover {
    color: rgba(130,210,210,.9);
}
.archive .title:hover:after,
.category .title:hover:after{
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
}
@-webkit-keyframes long {
    0%{
        width: 0;
    }
    100%{
        width: 600px;
    }
}
@keyframes long {
    0%{
        width: 0;
    }
    100%{
        width: 600px;
    }
}

/*分类页面*/
.category h2 {
    width: 100px;
    height: 30px;
    line-height: 30px;
}
.category .anchor {
    display: none;
}
.category aside {
    position: fixed;
    top: 400px;
    right: 0;
    padding-left: 10px;
    border-radius: 3px 0 0 3px;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.category aside li {
    border-bottom: 1px dotted #aaa;
    padding: 5px 15px;
    border-radius: 3px 0 0 3px; 
    background: #1c1c1c;
}
.category aside a {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}
.category aside:hover {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    /* background: #1c1c1c; */
}
/* .category aside:hover li {
    background: #fff;
}
.category aside:hover a{
    color: #1c1c1c;
}
 */
/*标签页面*/
.tags h2{
    font-size: 18px;
    color: #fff;
    background: #6ECBC0;
    border-radius: 7px;
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
    position: relative;
}
.tags .title {
    margin-right: 20px;
}
.tags i {
    opacity: .6;
    font-size: 12px;
}
.anchor {
    display: none;
}
.tags aside {
    position: fixed;
    top: 380px;
    right: 0;
}