---
layout: default
---

<div class="page" index>
    <div class="container">
        <ul>
            {% for post in paginator.posts %}
              <li class="article-item">
                <h2 class="article-link">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <div class="label">
                    <div class="label-card">
                        <i class="label-date"></i>{{ post.date | date: "%F" }}
                    </div>

                    <div class="label-card">
                    {% include category.html %}
                    </div>
                </div>
                <div class="article-desc">
                    <div class="excerpt">
                        {{post.excerpt}}
                    </div>
                    <div class="read-all">
                        <a  href="{{ post.url | prepend: site.baseurl }}"><i class="label-readall"></i>Read All</a>
                    </div>
                </div>
              </li>
            {% endfor %}
        </ul>


        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
            <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-angle-left"></i></a>
          {% else %}
            <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
            <span class="previous disable"><i class="fa fa-angle-left"></i></span>
          {% endif %}
          <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
            <a href="/page{{ paginator.total_pages }}" class="next"><i class="fa fa-angle-double-right"></i></a>
          {% else %}
            <span class="next disable"><i class="fa fa-angle-right"></i></span>
            <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
          {% endif %}
        </div>
    </div>
    <!-- <button class="anchor"><i class="fa fa-anchor"></i></button> -->

    <!-- recent posts-->
    <dl class="list recent-ul" recent>
        <dt><i class=""></i>Recent Posts</dt>
        {% for post in site.posts offset: 0 limit: 10  %}
            <dd><a href="{{ post.url }}">{{ post.title }}</a></dd>
        {% endfor %}
    </dl>

    <!-- Content -->
    <dl class="list category-ul" cate>
        <dt><i class=""></i>Categories</dt>
        {% for category in site.categories order:ascending %}
        <dd>
            <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-ddst-item" cate="{{ category | first }}">
                <span class="name">
                    {{ category | first }}
                </span>
                <span class="badge">{{ category | last | size }}</span>
            </a>
        </dd>
        {% endfor %}
    </dl>
</div>
