---
layout: default
---

<div class="page clearfix post" >
    <div class="container">
        <h1 class="post-title">{{page.title}}</h1>
        <div class="label">
            <div class="label-card date">
                {{ page.date | date: "%F" }}
            </div>

            <div class="label-card">
            {% include category.html %}
            </div>
        </div>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <h2 id="comments">Comments</h2>
        {% include comments.html %}

        <!-- 文章目录 -->
        <aside>
            <div>
                文章目录
            </div>
            <ul id="content-side" class="content-ul">
                <li><a href="#comments">Comments</a></li>
            </ul>
        </aside>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>

</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
